debconf debconf/frontend select Noninteractive
d-i debian-installer/language string en
d-i debian-installer/country string US

## Default user
d-i passwd/make-user boolean false
d-i passwd/root-login boolean true
d-i passwd/root-password password p@ssw0rd
d-i passwd/root-password-again password p@ssw0rd
tasksel tasksel/first multiselect minimal
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev  string /dev/vda
d-i grub-pc/install_devices multiselect /dev/vda

# Partitioning
d-i partman-auto/disk string /dev/vda
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select unencrypted-install
d-i partman-auto/expert_recipe string \
        unencrypted-install :: \
                256 1024 1024 xfs \
                        $primary{ } $bootable{ } \
                        method{ format } format{ } \
                        use_filesystem{ } filesystem{ xfs } \
                        mountpoint{ /boot } \
                . \
                1024 2048 2048 linux-swap \
                        $primary{ } \
                        method{ swap } format{ } \
                . \
                1024 100000000000 -1 xfs \
                        $primary{ } \
                        method{ format } format{ } \
                        use_filesystem{ } filesystem{ xfs } \
                        mountpoint{ / } .

d-i partman/choose_partition select finish
#d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/confirm_nooverwrite boolean true
#d-i partman-md/confirm boolean true

d-i pkgsel/include string openssh-server cryptsetup
d-i preseed/late_command string \
    in-target sed -i 's/PermitRootLogin.*/PermitRootLogin yes/g' /etc/ssh/sshd_config
d-i finish-install/reboot_in_progress note
