127.0.0.1 localhost.localdomain localhost
{{ ansible_default_ipv4.address }} {{ ansible_fqdn }} {{ ansible_hostname }}

{{ master.ip }} {{ master.hostname }}.{{ master.domain }} {{ master.hostname }}
{{ failover.ip }} {{ failover.hostname }}.{{ failover.domain }} {{ failover.hostname }}
