127.0.0.1 localhost.localdomain localhost

# master management node
{{ mgmt1.ip }} {{ mgmt1.hostname }}.{{ mgmt1.domain }} {{ mgmt1.hostname }}

# failover management node
{{ mgmt2.ip }} {{ mgmt2.hostname }}.{{ mgmt2.domain }} {{ mgmt2.hostname }}
